.contents
  .contents__Top
    .contents__group
      .contents__group-name
        = @group.name
        .contents__member
          - @group.users.each do |user|
            = user.name

      .contents__edit
        = link_to edit_group_path(@group), class: "contents__btn" do
          Edit
  .contents__main
    = render @messages
  .contents__down
    .contents__form
      .new_message
        .input-form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: "input-form__text", placeholder: "コメントを入力してください"
            = f.label :image, class: 'input-form__label' do
              = icon('fas', 'image', class: "input-form__icon")
              = f.file_field :image, class: 'input-form__file'
            = f.submit 'Send', class: 'input-form__submit'